In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 1. Load the Data

### 1.1. Explore the Data
- Data records for general aviation and commercial air carrier incidents since 1978, collected from FAA's Accident and Incident Data Systems
- 100000 data points
- general deatils (date, aircraft, operator, location)
- flight and pilot details (aircraft damage, injuries, pic cert type, pic total hrs, pic make-model hrs)

In [ ]:
df=pd.read_csv('../data/faa_incidents_data.csv')

/tmp/ipykernel_2342/1134462751.py:1: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_faa=pd.read_csv('../data/faa_incidents_data.csv')

In [ ]:
df.head()

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Event Type,Aircraft Damage,Flight Phase,Aircraft Make,Aircraft Model,...,Total Injuries,Aircraft Engine Make,Aircraft Engine Model,Engine Group Code,Nbr of Engines,PIC Certificate Type,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model,,.1
0,19780101000019I,01-JAN-78,WAHPETON,ND,BRECKENRIDGE,INCIDENT,MINOR,ROLL-OUT (FIXED WING),CESSNA,182,...,0,NaN,NaN,NaN,1.0,PRIVATE PILOT,245.0,136.0,0.0,0.0
1,19780101000029I,01-JAN-78,FAIRBANKS,AK,FAIRBANKS INTL,INCIDENT,MINOR,ROLL-OUT (FIXED WING),PIPER,PA18,...,0,NaN,NaN,NaN,1.0,STUDENT,200.0,2.0,0.0,0.0
2,19780101000039I,01-JAN-78,BRUNSWICK,GA,JEKYLL ISLAND,INCIDENT,NaN,NORMAL CRUISE,BEECH,35,...,0,NaN,NaN,NaN,1.0,PRIVATE PILOT,NaN,0.0,0.0,0.0
3,19780101000049I,01-JAN-78,CARLSBAD,CA,MC CLELLAN-PALOMAR,INCIDENT,MINOR,LEVEL OFF TOUCHDOWN,CESSNA,310,...,0,NaN,NaN,NaN,2.0,COMMERCIAL PILOT FLIGHT INSTRUCTOR,2000.0,400.0,0.0,0.0
4,19780101000059I,01-JAN-78,TROUTDALE,OR,TROUTDALE MUNI,INCIDENT,MINOR,"GROUND TAXI, OTHER AIRPLANE",CESSNA,172,...,0,NaN,NaN,NaN,1.0,COMMERCIAL PILOT,300.0,130.0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   AIDS Report Number                100000 non-null  object
 1   Local Event Date                  100000 non-null  object
 2   Event City                        91364 non-null   object
 3   Event State                       99234 non-null   object
 4   Event Airport                     81398 non-null   object
 5   Event Type                        100000 non-null  object
 6   Aircraft Damage                   71199 non-null   object
 7   Flight Phase                      99758 non-null   object
 8   Aircraft Make                     97441 non-null   object
 9   Aircraft Model                    96928 non-null   object
 10  Aircraft Series                   96927 non-null   object
 11  Operator                          29974 non-null   object
 12  Primary Flight Type               89906 non-null   object
 13  Flight Conduct Code               99858 non-null   object
 14  Flight Plan Filed Code            87088 non-null   object
 15  Aircraft Registration Nbr         100000 non-null  object
 16  Total Fatalities                  100000 non-null  int64
 17  Total Injuries                    100000 non-null  int64
 18  Aircraft Engine Make              36395 non-null   object
 19  Aircraft Engine Model             36399 non-null   object
 20  Engine Group Code                 30102 non-null   object
 21  Nbr of Engines                    93004 non-null   float64
 22  PIC Certificate Type              91474 non-null   object
 23  PIC Flight Time Total Hrs         79807 non-null   float64
 24  PIC Flight Time Total Make-Model  85053 non-null   float64
 25                                    83803 non-null   float64
 26   .1                               60737 non-null   float64
dtypes: float64(5), int64(2), object(20)
memory usage: 20.6+ MB

In [ ]:
print(df.columns.values)

['AIDS Report Number' 'Local Event Date' 'Event City' 'Event State'
 'Event Airport' 'Event Type' 'Aircraft Damage' 'Flight Phase'
 'Aircraft Make' 'Aircraft Model' 'Aircraft Series' 'Operator'
 'Primary Flight Type' 'Flight Conduct Code' 'Flight Plan Filed Code'
 'Aircraft Registration Nbr' 'Total Fatalities' 'Total Injuries'
 'Aircraft Engine Make' 'Aircraft Engine Model' 'Engine Group Code'
 'Nbr of Engines' 'PIC Certificate Type' 'PIC Flight Time Total Hrs'
 'PIC Flight Time Total Make-Model' ' ' ' .1']

In [83]:
df_faa['Aircraft Registration Nbr'].head(6)

0    2691Q
1    4073E
2    7929D
3    2250F
4    738FD
5    743PA
Name: Aircraft Registration Nbr, dtype: object

In [80]:
print(df_faa.loc[df_faa['Aircraft Registration Nbr'].isin(['2691Q','4073E','7929D'])])

  AIDS Report Number Local Event Date Event City Event State   Event Airport  \
0    19780101000019I        01-JAN-78   WAHPETON          ND    BRECKENRIDGE
1    19780101000029I        01-JAN-78  FAIRBANKS          AK  FAIRBANKS INTL
2    19780101000039I        01-JAN-78  BRUNSWICK          GA   JEKYLL ISLAND

  Event Type Aircraft Damage           Flight Phase Aircraft Make  \
0   INCIDENT           MINOR  ROLL-OUT (FIXED WING)        CESSNA
1   INCIDENT           MINOR  ROLL-OUT (FIXED WING)         PIPER
2   INCIDENT             NaN          NORMAL CRUISE         BEECH

  Aircraft Model  ... Total Injuries Aircraft Engine Make  \
0            182  ...              0                  NaN
1           PA18  ...              0                  NaN
2             35  ...              0                  NaN

  Aircraft Engine Model Engine Group Code Nbr of Engines PIC Certificate Type  \
0                   NaN               NaN            1.0        PRIVATE PILOT
1                   NaN               NaN            1.0              STUDENT
2                   NaN               NaN            1.0        PRIVATE PILOT

   PIC Flight Time Total Hrs  PIC Flight Time Total Make-Model        .1
0                      245.0                             136.0  0.0  0.0
1                      200.0                               2.0  0.0  0.0
2                        NaN                               0.0  0.0  0.0

[3 rows x 27 columns]

### 1.3. Data Wrangling

In [ ]:
# Drop unneeded columns
df=df.drop(columns=['AIDS Report Number', 'Aircraft Series', 'Operator', 'Primary Flight Type', 'Flight Conduct Code', 
        'Flight Plan Filed Code', 'Aircraft Engine Make', 'Aircraft Engine Model', 'Engine Group Code', ' ', ' .1'])

df.info()

In [77]:
df.isnull().sum(axis=0)

Investigation Type                       0
Event Date                               0
Location                                 0
Country                                  0
Airport Code                             0
Injury Severity                          0
Aircraft Damage_x                        0
Aircraft Category                        0
Registration Number                      0
Make                                     0
Model                                    0
Number of Engines                        0
Air Carrier                              0
Total Fatal Injuries                     0
Total Serious Injuries                   0
Total Minor Injuries                     0
Total Uninjured                          0
Weather Condition                        0
Broad Phase of Flight                    0
Local Event Date                    150959
Event City                          150959
Event State                         150959
Event Airport                       150959
Event Type                          150959
Aircraft Damage_y                   150959
Flight Phase                        150959
Aircraft Make                       150959
Aircraft Model                      150959
Total Fatalities                    150959
Total Injuries                      150959
Nbr of Engines                      150959
PIC Certificate Type                150959
PIC Flight Time Total Hrs           150959
PIC Flight Time Total Make-Model    150959
dtype: int64