In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## 1. Load Datasets

### 1.1. Explore airline_accidents
- NTSB investigation data for aviation accidents and incidents from 1962 to 2007, collected from NTSB's Aviation Accident Database & Synopses
- 150959 data points
- general deatils (date, aircraft, operator, location)
- flight and weather details (aircraft damage, injuries, phase, weather conditions)

In [3]:
df1=pd.read_csv('../data/airline_accidents.csv')

/tmp/ipykernel_2342/2540467269.py:1: DtypeWarning: Columns (0,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('../data/airline_accidents.csv')

In [5]:
df1.head()

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
0,20080125X00106,Accident,SEA08CA056,12/31/2007,"Santa Ana, CA",United States,33.675556,-117.868056,SNA,John Wayne - Orange County,...,Instructional,,,,,2,VMC,LANDING,02/28/2008,
1,20080206X00141,Accident,CHI08WA075,12/31/2007,"Guernsey, United Kingdom",United Kingdom,49.435000,-2.600278,,,...,Unknown,,,,,1,,,02/06/2008,
2,20080129X00122,Accident,CHI08CA057,12/30/2007,"Alexandria, MN",United States,45.866111,-95.394444,AXN,Chandler Field Airport,...,Personal,,,,,1,VMC,TAKEOFF,02/28/2008,
3,20080114X00045,Accident,LAX08FA043,12/30/2007,"Paso Robles, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,Personal,,1,,,,VMC,MANEUVERING,06/20/2014,
4,20080109X00032,Accident,NYC08FA071,12/30/2007,"Cherokee, AL",United States,34.688611,-87.920000,,,...,Other Work Use,,3,0,0,0,VMC,MANEUVERING,01/15/2009,

In [6]:
df1.describe()

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase of Flight,Report Publication Date,Unnamed: 30
count,150959,150959,150959,150959,150959,150959,150959,150959,150959,150959,...,150959,150959,150959,150959,150959,150959,150959,150959,150959,150959
unique,150047,3,143310,16138,33888,168,8868,9268,7881,18236,...,23,2317,111,37,58,344,4,13,2418,1
top,20001214X45071,,Unknown,07/10/1966,"ANCHORAGE, AK",United States,,,,,...,,,0,0,0,0,,,,
freq,3,87046,6031,41,828,147351,138985,138995,116096,113581,...,88765,147848,57941,76874,74262,53398,87554,89235,99786,150959

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150959 entries, 0 to 150958
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Event Id                 150959 non-null  object
 1   Investigation Type       150959 non-null  object
 2   Accident Number          150959 non-null  object
 3   Event Date               150959 non-null  object
 4   Location                 150959 non-null  object
 5   Country                  150959 non-null  object
 6   Latitude                 150959 non-null  object
 7   Longitude                150959 non-null  object
 8   Airport Code             150959 non-null  object
 9   Airport Name             150959 non-null  object
 10  Injury Severity          150959 non-null  object
 11  Aircraft Damage          150959 non-null  object
 12  Aircraft Category        150959 non-null  object
 13  Registration Number      150959 non-null  object
 14  Make                     150959 non-null  object
 15  Model                    150959 non-null  object
 16  Amateur Built            150959 non-null  object
 17  Number of Engines        150959 non-null  object
 18  Engine Type              150959 non-null  object
 19  FAR Description          150959 non-null  object
 20  Schedule                 150959 non-null  object
 21  Purpose of Flight        150959 non-null  object
 22  Air Carrier              150959 non-null  object
 23  Total Fatal Injuries     150959 non-null  object
 24  Total Serious Injuries   150959 non-null  object
 25  Total Minor Injuries     150959 non-null  object
 26  Total Uninjured          150959 non-null  object
 27  Weather Condition        150959 non-null  object
 28  Broad Phase of Flight    150959 non-null  object
 29  Report Publication Date  150959 non-null  object
 30  Unnamed: 30              150959 non-null  object
dtypes: object(31)
memory usage: 35.7+ MB

In [5]:
print(df1.columns.values)

['Event Id' 'Investigation Type' 'Accident Number' 'Event Date' 'Location'
 'Country' 'Latitude' 'Longitude' 'Airport Code' 'Airport Name'
 'Injury Severity' 'Aircraft Damage' 'Aircraft Category'
 'Registration Number' 'Make' 'Model' 'Amateur Built' 'Number of Engines'
 'Engine Type' 'FAR Description' 'Schedule' 'Purpose of Flight'
 'Air Carrier' 'Total Fatal Injuries' 'Total Serious Injuries'
 'Total Minor Injuries' 'Total Uninjured' 'Weather Condition'
 'Broad Phase of Flight' 'Report Publication Date' 'Unnamed: 30']

### 1.2. Explore faa_incidents_data
- Data records for general aviation and commercial air carrier incidents since 1978, collected from FAA's Accident and Incident Data Systems
- 100000 data points
- general deatils (date, aircraft, operator, location)
- flight and pilot details (aircraft damage, injuries, pic cert type, pic total hrs, pic make-model hrs)

In [7]:
df2=pd.read_csv('../data/faa_incidents_data.csv')

/tmp/ipykernel_2342/566603116.py:1: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv('../data/faa_incidents_data.csv')

In [9]:
df2.head()

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Event Type,Aircraft Damage,Flight Phase,Aircraft Make,Aircraft Model,...,Total Injuries,Aircraft Engine Make,Aircraft Engine Model,Engine Group Code,Nbr of Engines,PIC Certificate Type,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model,,.1
0,19780101000019I,01-JAN-78,WAHPETON,ND,BRECKENRIDGE,INCIDENT,MINOR,ROLL-OUT (FIXED WING),CESSNA,182,...,0,NaN,NaN,NaN,1.0,PRIVATE PILOT,245.0,136.0,0.0,0.0
1,19780101000029I,01-JAN-78,FAIRBANKS,AK,FAIRBANKS INTL,INCIDENT,MINOR,ROLL-OUT (FIXED WING),PIPER,PA18,...,0,NaN,NaN,NaN,1.0,STUDENT,200.0,2.0,0.0,0.0
2,19780101000039I,01-JAN-78,BRUNSWICK,GA,JEKYLL ISLAND,INCIDENT,NaN,NORMAL CRUISE,BEECH,35,...,0,NaN,NaN,NaN,1.0,PRIVATE PILOT,NaN,0.0,0.0,0.0
3,19780101000049I,01-JAN-78,CARLSBAD,CA,MC CLELLAN-PALOMAR,INCIDENT,MINOR,LEVEL OFF TOUCHDOWN,CESSNA,310,...,0,NaN,NaN,NaN,2.0,COMMERCIAL PILOT FLIGHT INSTRUCTOR,2000.0,400.0,0.0,0.0
4,19780101000059I,01-JAN-78,TROUTDALE,OR,TROUTDALE MUNI,INCIDENT,MINOR,"GROUND TAXI, OTHER AIRPLANE",CESSNA,172,...,0,NaN,NaN,NaN,1.0,COMMERCIAL PILOT,300.0,130.0,0.0,0.0

In [10]:
df2.describe()

,Total Fatalities,Total Injuries,Nbr of Engines,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model,,.1
count,100000.000000,100000.000000,93004.000000,79807.000000,85053.000000,83803.000000,60737.000000
mean,0.008220,0.050010,1.478539,3838.574962,706.559287,58.530005,39.188007
std,0.096501,0.659904,0.690930,5508.412809,1624.157166,354.259778,64.942305
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,366.000000,30.000000,1.000000,0.000000
50%,0.000000,0.000000,1.000000,1540.000000,150.000000,25.000000,12.000000
75%,0.000000,0.000000,2.000000,5000.000000,625.000000,80.000000,41.000000
max,5.000000,56.000000,4.000000,92591.000000,85215.000000,99999.000000,850.000000

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   AIDS Report Number                100000 non-null  object
 1   Local Event Date                  100000 non-null  object
 2   Event City                        91364 non-null   object
 3   Event State                       99234 non-null   object
 4   Event Airport                     81398 non-null   object
 5   Event Type                        100000 non-null  object
 6   Aircraft Damage                   71199 non-null   object
 7   Flight Phase                      99758 non-null   object
 8   Aircraft Make                     97441 non-null   object
 9   Aircraft Model                    96928 non-null   object
 10  Aircraft Series                   96927 non-null   object
 11  Operator                          29974 non-null   object
 12  Primary Flight Type               89906 non-null   object
 13  Flight Conduct Code               99858 non-null   object
 14  Flight Plan Filed Code            87088 non-null   object
 15  Aircraft Registration Nbr         100000 non-null  object
 16  Total Fatalities                  100000 non-null  int64
 17  Total Injuries                    100000 non-null  int64
 18  Aircraft Engine Make              36395 non-null   object
 19  Aircraft Engine Model             36399 non-null   object
 20  Engine Group Code                 30102 non-null   object
 21  Nbr of Engines                    93004 non-null   float64
 22  PIC Certificate Type              91474 non-null   object
 23  PIC Flight Time Total Hrs         79807 non-null   float64
 24  PIC Flight Time Total Make-Model  85053 non-null   float64
 25                                    83803 non-null   float64
 26   .1                               60737 non-null   float64
dtypes: float64(5), int64(2), object(20)
memory usage: 20.6+ MB

In [8]:
print(df2.columns.values)

['AIDS Report Number' 'Local Event Date' 'Event City' 'Event State'
 'Event Airport' 'Event Type' 'Aircraft Damage' 'Flight Phase'
 'Aircraft Make' 'Aircraft Model' 'Aircraft Series' 'Operator'
 'Primary Flight Type' 'Flight Conduct Code' 'Flight Plan Filed Code'
 'Aircraft Registration Nbr' 'Total Fatalities' 'Total Injuries'
 'Aircraft Engine Make' 'Aircraft Engine Model' 'Engine Group Code'
 'Nbr of Engines' 'PIC Certificate Type' 'PIC Flight Time Total Hrs'
 'PIC Flight Time Total Make-Model' ' ' ' .1']